{% extends 'base.html' %}

{% block title %}Contato{% endblock %}

{% block content %}
    <div class="atendimentos">
        <div class="servs">
            <h2>Banho / Tosa</h2>
            <p class="descricao">
                Banho completo com tosa e remedio antipulgas.
            </p>
            <p class="valor">
                25 R$
            </p>
            <img src="../static/img/bb.jpg" alt="banho e tosa" class="pr">
        </div>
        <div class="servs">
            <h2>Atendimento Veterinario</h2>
            <p class="descricao">
                Consulto seu pet com nossos veterinarios altamente capacitados.
            </p>
            <img src="../static/img/vv.jpg" alt="banho e tosa" class="pr">
        </div>
        <div class="servs">
            <h2>Venda de brinquedo e acessórios</h2>
            <p class="descricao">
                Compre conosco o brinquedo perfeito para o seu mascote, vendemos brinquedos, vestimentas, e coleiras.
            </p>
            <img src="../static/img/bt.jpg" alt="banho e tosa" class="pr">
        </div>
    </div>
{% endblock %}